h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.title,
.subtitle,
.uv-display,
.comment {
  text-align: center;
  color: $white;
}

.title{
  margin-top: 10%;
  font-size: 8vw;
}

.subtitle {
  font-size: 5vw;
}

.uv-display{
  font-size: 15vw;

}